<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp5097CAF52967A6CF76C81E53F4DD535C" Guid="{0DDBCD21-A470-4365-A1AB-58CC8A01521C}">
                <File Id="fil288D72DC7A0E11135BBE918AEA1D3A82" KeyPath="yes" Source="$(var.SourceFiles)\ffmpeg.exe" />
            </Component>
            <Component Id="cmpC041356E7733116B447E000B286690A5" Guid="{54C0819F-D7F9-4DAD-BCC6-2F296F1E9F6B}">
                <File Id="fil789C73202AE7A3687016EDC2A0DF2CFA" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails.exe" />
            </Component>
            <Directory Id="dir7E5337B0B0646D4E1CD359E8B4D21AB7" Name="LightTrails_Data">
                <Component Id="cmpE07762687ECC63326635C065B075C987" Guid="{63993A4D-3CE0-4342-A98F-C3FA9F7574CF}">
                    <File Id="fil2C6A5D15EC0C49CC132D27A15B1B5EB5" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\app.info" />
                </Component>
                <Component Id="cmp24E82EC0B9AB914BCCEE0434872FB06D" Guid="{269DF817-FBF7-4CB3-9A80-64347FA18E3A}">
                    <File Id="fil3D6DC0D568D69F5AD87F2326BEC75797" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\globalgamemanagers" />
                </Component>
                <Component Id="cmp193065B2C32E5374A02A86F4E51FDBC7" Guid="{BE8002F8-88E8-422E-9BE0-91A965706C0D}">
                    <File Id="filE2177208029B1806930BCFE0ABF55241" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\globalgamemanagers.assets" />
                </Component>
                <Component Id="cmp0F1D4278A3CCA4AEEC2938175F9F4DAF" Guid="{29414057-43ED-451E-A31B-3B23111F0850}">
                    <File Id="fil3F3052CB097565D63336993244ABCB11" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\globalgamemanagers.assets.resS" />
                </Component>
                <Component Id="cmp917EABC5CB2220DA0113A85C552F43DB" Guid="{2FC7692F-6128-4042-B2F9-EEB8629C6B1F}">
                    <File Id="fil5D59830436050DCE1C0805FD373D105E" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\level0" />
                </Component>
                <Component Id="cmp35C7165FC85BA58C3E6E925F9A573DBE" Guid="{BAF6312C-901D-4A7E-AB4F-89C8B9A2E03D}">
                    <File Id="filAC8FB945927F95F7D30037CB0A0FFFBA" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\level1" />
                </Component>
                <Component Id="cmpAE5C8C51A26CDF4BF525B8CC807376F7" Guid="{F9BD7D50-2622-459E-8538-FE848EDCBC8B}">
                    <File Id="fil201D2B1F96AEB260EE7146ADDB02854A" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\resources.assets" />
                </Component>
                <Component Id="cmpCC922C606C7A68501AFDCDF9F26A87C6" Guid="{0AFFA4A8-EBA6-4A37-BEF0-6E75D475A61F}">
                    <File Id="fil84A8B077B83946197E94F37933D18049" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\resources.assets.resS" />
                </Component>
                <Component Id="cmp8682CA24EA707536525DC312E7C96083" Guid="{42F39DB3-CD15-4DE1-BB06-7C18B7751275}">
                    <File Id="fil284E15E17C5D0FB096BCB89B361F8AED" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\sharedassets0.assets" />
                </Component>
                <Component Id="cmp0001F92388F57ACA66203F7837E3D25F" Guid="{C3E1B3C0-C2D6-4359-AD7D-F5AC3ECA41D4}">
                    <File Id="fil12BF3932ED5CE110D713AB06EF858F28" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\sharedassets0.assets.resS" />
                </Component>
                <Component Id="cmp34853A7DC70F404D5E39F67E63E80D8C" Guid="{99568667-C8CB-4751-8ED7-037FD3595B61}">
                    <File Id="fil5E298073E65F0BE3F8B52AE0871698A6" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\sharedassets1.assets" />
                </Component>
                <Component Id="cmpAD6566B0D35F66096EAC2FDC0A47BE35" Guid="{801BDE2C-F913-4830-B5B1-CABB08254E84}">
                    <File Id="fil427EDD705007F04334C0F4E1ACD4175F" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\sharedassets1.assets.resS" />
                </Component>
                <Directory Id="dirED1CC0B39437BEB3CC679B4E38BA794D" Name="Managed">
                    <Component Id="cmp97102BCE17ECC868E9526CA297E0C96C" Guid="{2CCEDDDE-B0FA-400D-90C7-32616E78A126}">
                        <File Id="filB4F4961384323A7D7A4D5C0193BD494C" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\Accessibility.dll" />
                    </Component>
                    <Component Id="cmp710B9F80567B9D2C3502281F2DAE9A43" Guid="{D7609253-FAAE-4031-B9AA-32214EFAECE0}">
                        <File Id="filD6AD991E6E698FFA6654AB93E63DCAA3" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\Assembly-CSharp.dll" />
                    </Component>
                    <Component Id="cmpDF6AE2130F67277ACF2467887A5696FB" Guid="{A1C6D03B-DDCB-4B43-A651-E302335B169E}">
                        <File Id="filE23645C6FDD7064D0810C6C357EBE89D" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\FfmpegWrapper.dll" />
                    </Component>
                    <Component Id="cmpE41CC336A750A0F6EF24CD36A117953E" Guid="{104D5454-F31A-4FEB-8E89-5CB23365986D}">
                        <File Id="fil6A174E837128CD09939FF18A2F6CD499" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\Mono.Data.Sqlite.dll" />
                    </Component>
                    <Component Id="cmpFD19516FF3D89EE1C205B095E9055D57" Guid="{C4D02CCB-05C6-42CF-84D3-F754B6B0FBF2}">
                        <File Id="filE9E64A303790EFCADB09ABCCF461A8A6" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\Mono.Data.Tds.dll" />
                    </Component>
                    <Component Id="cmpC801B80953969427D183BD6E6AEA793B" Guid="{6AC95301-E899-40BF-B9DB-BAB9CFBBCD87}">
                        <File Id="filAC095FC8AD6343A6A484A03A52994F49" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\Mono.Posix.dll" />
                    </Component>
                    <Component Id="cmpAB41BED110AC26CA0665783672E70397" Guid="{3424B0FC-33D6-434C-B392-51FDF9C744E9}">
                        <File Id="fil77425A0700C9C23F26250AB847BEBF5B" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\Mono.Security.dll" />
                    </Component>
                    <Component Id="cmp698645B8FA56C4184DF67679CA453D50" Guid="{F10833F1-462C-47ED-A09B-D33527FE4425}">
                        <File Id="filDA5F2F4ADB69BB898D4C48FC6C639892" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\Mono.Web.dll" />
                    </Component>
                    <Component Id="cmp9B8F1727F061ADCD8BD0393E5AC7B7EA" Guid="{3F990266-ED57-4590-9B49-DFFC14422660}">
                        <File Id="filBDF35DE8BABDE3F58CEDF79C5C8CC8C4" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\Mono.WebBrowser.dll" />
                    </Component>
                    <Component Id="cmpF8F9EFFA2CC012D0EBCE2EB680677FFB" Guid="{3BB69BFD-463A-4D55-972F-759D0CD45992}">
                        <File Id="fil3E3C5BDDA12A27AAEAE177BEDD1DFC28" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\mscorlib.dll" />
                    </Component>
                    <Component Id="cmp41821C42C299E1E79F49780816EE2C26" Guid="{BD825C30-F992-41E7-859D-2393411E9CE1}">
                        <File Id="fil86693AA7243572EE16DD3FC0E97CB798" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\Ookii.Dialogs.dll" />
                    </Component>
                    <Component Id="cmpE1B4756F4F6E67EBDA5B13EFE445F321" Guid="{99E3C009-F632-493D-AC1E-027F413708F7}">
                        <File Id="fil4BD2344AF5A46C45F33D671CAB523566" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.Configuration.dll" />
                    </Component>
                    <Component Id="cmp3CFF931D5AB4D7EC6FAEACE5067D74F6" Guid="{186DB50F-0243-40D2-87EA-B4589E6FD58B}">
                        <File Id="filC4AA73532194C84D5529F8F890D33290" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.Core.dll" />
                    </Component>
                    <Component Id="cmpEEC9466FCF12E121A23332A4AF43DA3E" Guid="{8A879A00-205B-43F9-9D8F-21809EE9B030}">
                        <File Id="filD49AE36C3EBF11FB6A40799C8B9A1B9E" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.Data.dll" />
                    </Component>
                    <Component Id="cmpF1F65B42E68EDF2B81175A9BD62124BA" Guid="{0BEE15B8-4210-4F0C-9463-5FD769C19A31}">
                        <File Id="fil2AFC0342ADC12679D8DCD781788E1C37" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.Design.dll" />
                    </Component>
                    <Component Id="cmpD17EBCF30291FE6CC71691F1C3D046B6" Guid="{6B629B99-8D5A-47ED-9948-0C25462B1A21}">
                        <File Id="filEF895E4446D3346B22D01825B8C32C4C" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.dll" />
                    </Component>
                    <Component Id="cmpD22D068F3D809E451E7A6F7FDAED424C" Guid="{D43E000D-9671-451C-B12B-FD520093686F}">
                        <File Id="fil5A303681728FB3C602E63686BF0176A1" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.Drawing.Design.dll" />
                    </Component>
                    <Component Id="cmp79E0992CDCFAB11778FDFB9279039861" Guid="{87B199A0-7664-46DC-B3F4-D8B90B0B4943}">
                        <File Id="fil2681380CA25AB4084E10A6EEF52CE8A3" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.Drawing.dll" />
                    </Component>
                    <Component Id="cmpEDE34D79F4E33B75BEAAA87555A34C31" Guid="{CCFBCB97-CFC6-4850-A6C2-0ED71737819C}">
                        <File Id="fil5418FB97D1BFCCA54E782A7B8F2B11C0" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.EnterpriseServices.dll" />
                    </Component>
                    <Component Id="cmp74DA07A4449F4619430F8F93D3AE402C" Guid="{361F35F7-CC02-48E3-A68D-76F65B56637F}">
                        <File Id="fil0C0889492BA0E1CD1A01D5EE8606D6FC" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.Security.dll" />
                    </Component>
                    <Component Id="cmpB950329F08D769C26275D6D5D6DBA1ED" Guid="{37C7C3F7-CC0E-4689-A2FB-477570CF4E46}">
                        <File Id="filE1C1AB6B8F68115AA103BEC30E59B347" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.Transactions.dll" />
                    </Component>
                    <Component Id="cmp2143AD3BE88D3FBEB4BD5CFF89D5B479" Guid="{17A34671-0778-4122-939C-23A52D591AC5}">
                        <File Id="fil8DC2A733533EC24BE84BF395D8B8572C" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.Web.dll" />
                    </Component>
                    <Component Id="cmp82486F086ED7F917910CAACA5DB07432" Guid="{8184AB80-8E36-4027-AEA8-F8EA3CA7BE8E}">
                        <File Id="filD216AECC932832AA6B4DCF8D8D9F4E1A" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.Web.Services.dll" />
                    </Component>
                    <Component Id="cmpFBEB058E66F852A457EAEB44C810F06F" Guid="{F9790BEE-A098-4EFC-B294-1CF433F3617A}">
                        <File Id="filC06F5CDC6DC86CA4163D7825F3694DC3" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.Windows.Forms.dll" />
                    </Component>
                    <Component Id="cmpA555724FA3858021C378811CB37AF725" Guid="{7F7B1451-D3D0-44FE-BACE-849FD5587726}">
                        <File Id="fil2094EA24F144A98F5F5AA2B5E088809E" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.Xml.dll" />
                    </Component>
                    <Component Id="cmpECE759487241177F0D67711C484B07EA" Guid="{13B4FFBA-F3BB-4C45-89E5-04C9398CA5D0}">
                        <File Id="fil4FC4D86F40BCF0E4A3C75A508DE8F136" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\UnityEngine.CloudBuild.dll" />
                    </Component>
                    <Component Id="cmp1AB1FB6493ED0F535177AED1283CE3E2" Guid="{CCAC2F0F-14C3-4C1B-8792-14886FFDC023}">
                        <File Id="filC037463E572C9950BE4C3F2E8646893C" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\UnityEngine.dll" />
                    </Component>
                    <Component Id="cmpC57EBDD4A08C35DBDE0C78EE318A3A72" Guid="{0BF3F6C3-D3CC-4B1F-9674-C7E2C6F7F014}">
                        <File Id="filBB5FB5B79BB2C3E222B1417084AB704E" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\UnityEngine.dll.mdb" />
                    </Component>
                    <Component Id="cmp79445CA877A4686CF521E6C9A7ADE282" Guid="{66F3764F-EFB5-4714-811F-6FD1DC47AA2F}">
                        <File Id="fil7FBB7BFD015693E21C39AC857B4921D2" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\UnityEngine.Networking.dll" />
                    </Component>
                    <Component Id="cmp508E2CA69F231AB646DDCCFF034F9708" Guid="{DDAE4D79-698A-45DC-A6B5-0BD3BB96B637}">
                        <File Id="filE81F44402F96D9A569FA1562FF22ADA4" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\UnityEngine.UI.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir3D52A76F74875CA2D92E31C4E2755DC0" Name="Mono">
                    <Component Id="cmp01C3C016286A8B8B84162263454FA753" Guid="{2B8BFF25-3E37-40BF-8917-F2A81C2A6FCF}">
                        <File Id="filB7FB60D3F3A7849ED1EFA819F2AB533D" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Mono\mono.dll" />
                    </Component>
                    <Component Id="cmpFED6A510FC0360510958149C10F81E7C" Guid="{87011EFA-A427-4906-A3D2-8C3965013749}">
                        <File Id="fil9BB5F07E060633B600BB74D0911FFE58" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Mono\MonoPosixHelper.dll" />
                    </Component>
                    <Directory Id="dirA223DCCFC7B855DF344699B4922B29C2" Name="etc">
                        <Directory Id="dir076129B291D4DA088F0630709B85C255" Name="mono">
                            <Component Id="cmp1E875CE54AEE4B1C5E173CCFDB407BBF" Guid="{1093F29C-FF3D-4E19-B39F-B68D9EFA9D05}">
                                <File Id="fil79970A800BA272919DEBC5AC70553A45" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Mono\etc\mono\browscap.ini" />
                            </Component>
                            <Component Id="cmp2E23F26A0E8850884813006EB18D2564" Guid="{F02AFBE9-CD14-47DB-A588-87EEAB705B1C}">
                                <File Id="fil7BB26A07E26D4B48DA76A47FDA671641" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Mono\etc\mono\config" />
                            </Component>
                            <Directory Id="dirB298DB8A305E74BFCBE18017D60B9236" Name="1.0">
                                <Component Id="cmpC119403997588B92D67E85BB67282C1B" Guid="{ABE6763E-E20A-473A-8EF7-5A3F86AACB42}">
                                    <File Id="fil0EA59A84A0201156CADA80B58245A9B5" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Mono\etc\mono\1.0\DefaultWsdlHelpGenerator.aspx" />
                                </Component>
                                <Component Id="cmpBB476F5F4A02F33CD21F756D50C24150" Guid="{93EC43C0-191C-4892-8DA4-FA179ADD119B}">
                                    <File Id="filA319767DC1008E75273B829A4F3DB753" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Mono\etc\mono\1.0\machine.config" />
                                </Component>
                            </Directory>
                            <Directory Id="dirB4BB6D72B821F5B13F68FC3B35B265F7" Name="2.0">
                                <Component Id="cmpCC2DD97A4DCAE05BEB56AC615CB4575D" Guid="{DA37C1C3-E04D-4D65-9842-3560F4854D38}">
                                    <File Id="filE202054627E9E448CA0B768ADE5C7956" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Mono\etc\mono\2.0\DefaultWsdlHelpGenerator.aspx" />
                                </Component>
                                <Component Id="cmpFA59A4E9775B417688E5451F8E3F96D4" Guid="{D2CD8949-1E3C-48BA-9E68-6665D6D4C3C6}">
                                    <File Id="filACF1327930EE47660B507EA9D62BD8E8" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Mono\etc\mono\2.0\machine.config" />
                                </Component>
                                <Component Id="cmpF0ADBE4E39E934D55D2BEB202976B21C" Guid="{C1DD62E8-DE5B-4BCF-AC43-24F65AA45457}">
                                    <File Id="fil648303452D0F7EE4320C193C25087DD5" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Mono\etc\mono\2.0\settings.map" />
                                </Component>
                                <Component Id="cmp919303CA16E0C6EEB05E6A56B75561D0" Guid="{DC8655BE-623B-43B5-9031-CA8115ED9B44}">
                                    <File Id="fil06CF94446EA83DDCBBA7DF4E3BA7E294" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Mono\etc\mono\2.0\web.config" />
                                </Component>
                                <Directory Id="dir0AA8DD464CC96ACD2A544BFD08EA6F23" Name="Browsers">
                                    <Component Id="cmpFE71AEE4FC2836CCC78EBA24826AA81E" Guid="{B8E63065-1D93-4ADF-9545-FBF84E805926}">
                                        <File Id="fil1B8D8EFF3F4AAD91FBCA304E95BD50B9" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Mono\etc\mono\2.0\Browsers\Compat.browser" />
                                    </Component>
                                </Directory>
                            </Directory>
                            <Directory Id="dirE42DDA93E645ABFAE665EDE525FDBD12" Name="mconfig">
                                <Component Id="cmpABE939B1D6BC21F21740233EA17E727A" Guid="{17680503-06B0-493D-9FB8-6FDC458FAD9A}">
                                    <File Id="filBD65BC20AC2B63FF093E49642B4FE30B" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Mono\etc\mono\mconfig\config.xml" />
                                </Component>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="dir7AFE00B46274F3EA6DA21C852D83505E" Name="Resources">
                    <Component Id="cmp108A85D67AFA183B7381037FE62E1530" Guid="{4BAD363D-8E51-4707-9FD0-76655C88C446}">
                        <File Id="fil2494A76CC101656CB43D58F3AF6165EA" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Resources\unity default resources" />
                    </Component>
                    <Component Id="cmpA44931B3E505A79D771E2C5A7DD4512A" Guid="{6F0C8E3E-B5A1-4FAC-8F2A-47B621FB7949}">
                        <File Id="fil25E8876B1C6C3B2AA69CB12FEFC67F1F" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Resources\unity_builtin_extra" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="DataHarvest">
            <ComponentRef Id="cmp5097CAF52967A6CF76C81E53F4DD535C" />
            <ComponentRef Id="cmpC041356E7733116B447E000B286690A5" />
            <ComponentRef Id="cmpE07762687ECC63326635C065B075C987" />
            <ComponentRef Id="cmp24E82EC0B9AB914BCCEE0434872FB06D" />
            <ComponentRef Id="cmp193065B2C32E5374A02A86F4E51FDBC7" />
            <ComponentRef Id="cmp0F1D4278A3CCA4AEEC2938175F9F4DAF" />
            <ComponentRef Id="cmp917EABC5CB2220DA0113A85C552F43DB" />
            <ComponentRef Id="cmp35C7165FC85BA58C3E6E925F9A573DBE" />
            <ComponentRef Id="cmpAE5C8C51A26CDF4BF525B8CC807376F7" />
            <ComponentRef Id="cmpCC922C606C7A68501AFDCDF9F26A87C6" />
            <ComponentRef Id="cmp8682CA24EA707536525DC312E7C96083" />
            <ComponentRef Id="cmp0001F92388F57ACA66203F7837E3D25F" />
            <ComponentRef Id="cmp34853A7DC70F404D5E39F67E63E80D8C" />
            <ComponentRef Id="cmpAD6566B0D35F66096EAC2FDC0A47BE35" />
            <ComponentRef Id="cmp97102BCE17ECC868E9526CA297E0C96C" />
            <ComponentRef Id="cmp710B9F80567B9D2C3502281F2DAE9A43" />
            <ComponentRef Id="cmpDF6AE2130F67277ACF2467887A5696FB" />
            <ComponentRef Id="cmpE41CC336A750A0F6EF24CD36A117953E" />
            <ComponentRef Id="cmpFD19516FF3D89EE1C205B095E9055D57" />
            <ComponentRef Id="cmpC801B80953969427D183BD6E6AEA793B" />
            <ComponentRef Id="cmpAB41BED110AC26CA0665783672E70397" />
            <ComponentRef Id="cmp698645B8FA56C4184DF67679CA453D50" />
            <ComponentRef Id="cmp9B8F1727F061ADCD8BD0393E5AC7B7EA" />
            <ComponentRef Id="cmpF8F9EFFA2CC012D0EBCE2EB680677FFB" />
            <ComponentRef Id="cmp41821C42C299E1E79F49780816EE2C26" />
            <ComponentRef Id="cmpE1B4756F4F6E67EBDA5B13EFE445F321" />
            <ComponentRef Id="cmp3CFF931D5AB4D7EC6FAEACE5067D74F6" />
            <ComponentRef Id="cmpEEC9466FCF12E121A23332A4AF43DA3E" />
            <ComponentRef Id="cmpF1F65B42E68EDF2B81175A9BD62124BA" />
            <ComponentRef Id="cmpD17EBCF30291FE6CC71691F1C3D046B6" />
            <ComponentRef Id="cmpD22D068F3D809E451E7A6F7FDAED424C" />
            <ComponentRef Id="cmp79E0992CDCFAB11778FDFB9279039861" />
            <ComponentRef Id="cmpEDE34D79F4E33B75BEAAA87555A34C31" />
            <ComponentRef Id="cmp74DA07A4449F4619430F8F93D3AE402C" />
            <ComponentRef Id="cmpB950329F08D769C26275D6D5D6DBA1ED" />
            <ComponentRef Id="cmp2143AD3BE88D3FBEB4BD5CFF89D5B479" />
            <ComponentRef Id="cmp82486F086ED7F917910CAACA5DB07432" />
            <ComponentRef Id="cmpFBEB058E66F852A457EAEB44C810F06F" />
            <ComponentRef Id="cmpA555724FA3858021C378811CB37AF725" />
            <ComponentRef Id="cmpECE759487241177F0D67711C484B07EA" />
            <ComponentRef Id="cmp1AB1FB6493ED0F535177AED1283CE3E2" />
            <ComponentRef Id="cmpC57EBDD4A08C35DBDE0C78EE318A3A72" />
            <ComponentRef Id="cmp79445CA877A4686CF521E6C9A7ADE282" />
            <ComponentRef Id="cmp508E2CA69F231AB646DDCCFF034F9708" />
            <ComponentRef Id="cmp01C3C016286A8B8B84162263454FA753" />
            <ComponentRef Id="cmpFED6A510FC0360510958149C10F81E7C" />
            <ComponentRef Id="cmp1E875CE54AEE4B1C5E173CCFDB407BBF" />
            <ComponentRef Id="cmp2E23F26A0E8850884813006EB18D2564" />
            <ComponentRef Id="cmpC119403997588B92D67E85BB67282C1B" />
            <ComponentRef Id="cmpBB476F5F4A02F33CD21F756D50C24150" />
            <ComponentRef Id="cmpCC2DD97A4DCAE05BEB56AC615CB4575D" />
            <ComponentRef Id="cmpFA59A4E9775B417688E5451F8E3F96D4" />
            <ComponentRef Id="cmpF0ADBE4E39E934D55D2BEB202976B21C" />
            <ComponentRef Id="cmp919303CA16E0C6EEB05E6A56B75561D0" />
            <ComponentRef Id="cmpFE71AEE4FC2836CCC78EBA24826AA81E" />
            <ComponentRef Id="cmpABE939B1D6BC21F21740233EA17E727A" />
            <ComponentRef Id="cmp108A85D67AFA183B7381037FE62E1530" />
            <ComponentRef Id="cmpA44931B3E505A79D771E2C5A7DD4512A" />
        </ComponentGroup>
    </Fragment>
</Wix>