<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Light Trails" Language="1033" Version="0.3.0.0" Manufacturer="Light Trails" UpgradeCode="db8e5c34-6979-455b-81b1-48c1e248bf48">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab ="yes"/>

    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Images/Banner.bmp"/>
    <WixVariable Id="WixUIDialogBmp" Value="Images/WixUIDialog.bmp"/>    
    <WixVariable Id="WixUIInfoIco" Value="Images/SmallIcon.bmp"/>
    <WixVariable Id="WixUIExclamationIco" Value="Images/SmallIcon.bmp"/>
    <WixVariable Id="WixUINewIco" Value="Images/TinyIcon.bmp"/>
    <WixVariable Id="WixUIUpIco" Value="Images/TinyIcon.bmp"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Light Trails" />
      </Directory>
      <Directory Id="DesktopFolder" SourceName="Desktop"/>
      <Directory Id="ProgramMenuFolder" SourceName="ProgramMenuFolder"/>
    </Directory>


    <Component Id="ApplicationShortcut" Guid="b26c1d5d-d039-4223-9656-dfc9ecf29dde" Directory="INSTALLFOLDER">
      <Shortcut Id="ApplicationStartMenuShortcut"
                Name="Light Trails"
                Directory="ProgramMenuFolder"
                Description="Application for turning still images into small videos with effects attached"
                Target="[#fil789C73202AE7A3687016EDC2A0DF2CFA]"
                WorkingDirectory="INSTALLFOLDER"/>
      <RemoveFolder Id="RemoveProgramMenuDir" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\Microsoft\LightTrails" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
    </Component>
    
    <Component Id="DesktopShortcut" Directory="INSTALLFOLDER" Guid="34e8a416-1a4b-45c5-a44e-fed7166c567e">
      <Shortcut Id="desktopSC" 
                Target="[#fil789C73202AE7A3687016EDC2A0DF2CFA]"
                Directory="DesktopFolder" 
                Name="Light Trails"              
                WorkingDirectory="INSTALLFOLDER"/>
      
      <RegistryValue Id="RegShortcutDesktop" Root="HKCU"
              Key="SOFTWARE\ACME\settings" Name="DesktopSC" Value="1"
              Type="integer" KeyPath="yes" />
    </Component>

    <Feature Id="ProductFeature" Title="MSIFactory" Level="1">
      <ComponentGroupRef Id="DataHarvest"/>
      <ComponentRef Id="ApplicationShortcut"/>
      <ComponentRef Id="DesktopShortcut"/>
    </Feature>
  </Product>
</Wix>
